.title {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.4;
  
    &.one {
      font-size: 1.625rem;
    }
  
    &.two {
      font-size: 1.375rem;
    }
  
    &.three {
      font-size: 1.125rem;
    }
  
    &.white {
      color: #ffffff;
    }
  
    &.gray100 {
      color: var(--gray100);
    }
  
    &.gray200 {
      color: var(--gray200);
    }
  
    &.gray400 {
      color: var(--gray400);
    }
  }
  
  .text {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.6;
  
    &.headline {
      font-size: 1rem;
    }
  
    &.body {
      font-size: 0.875rem;
    }
  
    &.body600 {
      font-size: 0.875rem;
      font-weight: 600;
    }
  
    &.caption {
      font-size: 0.75rem;
    }
  
    &.gray100 {
      color: var(--gray100);
    }
  
    &.gray200 {
      color: var(--gray200);
    }
  
    &.gray400 {
      color: var(--gray400);
    }
  
    &.primary {
      color: var(--color-primary);
    }
  }